:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* Text colors */
    --main-txt-cl:
        --secondary-txt-cl: --accent-txt-cl:
        /* Bg colors */
        --main-bg-cl: --secondary-bg-cl: --accent-bg-cl:
        /* Others */
        --indent: 30px;
    --items: 1;
}

html {
    Box-sizing: border-box;
}


body {
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}


/* Reset Start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

Img {
    Display: block;
    max-width: 100%;
    height: auto;
}

.link {
    Color: currentColor;
    text-decoration: none
}

.list {
    List-style: none;
    Padding: 0;
    Margin: 0;
}

Button {
    Font-family: inherit;
    Color: currentColor;
    Cursor: pointer
}

/* Reset End */

.Section {
    Padding-top: 120px;
    Padding-bottom: 120px;
}

.Container {
    Width: 1200 px;
    Margin-left: auto;
    Margin-right: auto;
    Padding-left: 15px;
    Padding-right: 15px;

    Outline: 2px solid red;
    Outline-offset: -2px;
}



/**
  |============================
  | Main
  |============================
*/
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

   
}
.btn-modal {
    border: 1px solid rgb(193, 192, 192);
    border-radius: 25px;
    padding: 25px;

    transition: color 1000ms ease-in-out, background-color 1000ms ease-in-out;

    animation: shake-horizontal 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s infinite both;
}

.btn-modal:hover,
.btn-modal:focus {
    border: 1px solid rgb(29, 27, 27);
    border-radius: 25px;
    background-color: brown;
    color: white;

    animation-play-state: running;
}

@keyframes shake-horizontal {
    0%,
    20% {
      transform: translateX(0);
    }
    2%,
    6%,
    10%,
    14% {
      transform: translateX(-10px);
    }
    4%,
    8%,
    12% {
      transform: translateX(10px);
    }
    16% {
      transform: translateX(8px);
    }
    18% {
      transform: translateX(-8px);
    }
  }
